.topBanner {
    display: flex;
    padding: 10px;
}

.topBanner .popup_title {
    text-align: center;
    color: var(--accent-color);
    margin-top: 0;
    padding: 5px 0;
    margin-bottom: 0;
    margin-left: 5px;
}

#fields-container {
    padding: 0 10px;
}

.wrapper {
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;

    .line-item {
        background-color: var(--card-color);
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
        border-radius: 6px;
        margin-bottom: 10px;
        transition: border 0.2s ease;

        .topDiv {
            display: flex;
            padding: 10px;

            .collapse-toggle {
                background: none;
                border: none;
                font-size: 10px;
                cursor: pointer;
            }

            input[type="text"] {
                background-color: transparent;
                text-align: left;
                border: none;
                width: 100%;
                font-size: 18px;
                color: var(--accent-color);
                font-weight: bold;
            }

            button {
                background-color: transparent;
                color: var(--text-color);
                padding: 4px 5px;
                font-size: 16px;
                cursor: pointer;
                border-radius: 25px;
                border: none;
                height: 20px;
                width: 20px;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: var(--text-color);
                }
            }

            .drag-handle {
                color: var(--text-color);
                fill: var(--text-color);
                cursor: grab;
                padding: 0 8px;
                user-select: none;
                font-size: 16px;
                margin: auto 0;
            }

            .drag-handle svg {
                width: 10px;
                display: flex;
                margin: auto;
            }

            .remove-button {
                background: transparent;
                border: none;
                cursor: pointer;
                color: white;
                padding: 0;

                svg {
                    fill: var(--danger-color);
                    width: 10px;
                }
            }
        }

        .field-content {
            transition: all 0.2s ease;

            .all-button-groups {
                text-align: center;
                display: flex;

                .button-group-container {
                    padding: 5px;
                    width: 25%;

                    .button-group-label {
                        color: var(--text-color);
                        margin: 0.25rem 0;
                        font-weight: bold;
                    }

                    .button-group {
                        display: flex;
                        gap: 0.25rem;
                        flex-wrap: wrap;

                        button {
                            cursor: pointer;
                            background-color: transparent;

                            svg {
                                width: 15px;
                                fill: var(--text-color);
                            }
                        }

                        .main {
                            margin: 0 0 0 auto;
                        }

                        .admin {
                            margin: 0 auto 0 0;
                        }
                    }
                }

                .button-group-container:nth-child(1) {
                    background-color: rgba(59, 130, 246, 0.2);
                    border-bottom-left-radius: 6px;
                }

                .button-group-container:nth-child(2) {
                    background-color: rgba(34, 197, 94, 0.2);
                }

                .button-group-container:nth-child(3) {
                    background-color: rgba(249, 115, 22, 0.2);
                }

                .button-group-container:nth-child(4) {
                    background-color: rgba(239, 68, 68, 0.2);
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }

    .line-item.over {
        border: 2px dashed #555;
        background-color: var(--text-color);
    }
}

.bottom_buttons {
    padding: 5px 10px;
    display: flex;
    height: 40px;
    background-color: rgba(0,0,0,0.2);

    .btn {
        cursor: pointer;
        width: 20px;
        padding: 10px;
        border-radius: 6px;
        background-color: var(--accent-color);
        margin-left: 5px;

        svg {
            fill: #181d25;
        }
    }

    #add-field {
        height: 100%;
        background-color: var(--accent-color);
        color: var(--bg-color);
        font-weight: bold;
        border: none;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
    }

    > div {
        display: flex;
        margin: 0 0 0 auto;
    }
}
