:root {
    --bg-color: #181d25;
    --text-color: #ffffff;
    --card-color: #232631;
    --accent-color: #B3A7F7;
    --danger-color: #ca3c25;
    --highlight-blue: rgba(59, 130, 246, 0.2);
    --highlight-red: rgba(239, 68, 68, 0.2);
    --highlight-orange: rgba(249, 115, 22, 0.2);
    --highlight-green: rgba(34, 197, 94, 0.2);
}
<!-- #F9FAFB -->